<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- boton de wapp -->
    <a href="https://api.whatsapp.com/send?phone=3148375023"
           target="_blank"
           class="whatsapp-andromeda__link">
           <img src="../images/wapp-12.svg" alt="">
        </a>
     <!-- Navigacion-->
     <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="../index.html"><img src="../images/logo.svg" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="../templates/servicios.html">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/team.html">Equipo</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/contact.html">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- background-->
    <header class="masthead team">
        <div class="container">
            <div class="masthead-subheading">¡Trabajamos en equipo!</div>
            <div class="masthead-heading text-uppercase">Juntos somos más fuertes</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="../templates/contact.html">Contáctanos</a>
        </div>
    </header>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Nuestro gran equipo</h2>
                <h3 class="section-subheading text-muted">Somos un equipo solido con más de 6 años de experiencia en diseño.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="../images/designervi.png" alt="..." />
                        <h4>Viviana Zapata</h4>
                        <p class="text-muted">UI / Diseño Textil</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/vivianazdesign/" target="__blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.behance.net/vivianazapata?tracking_source=search_users%7Cviviana%20zapata" target="__blank"><i class="fab fa-behance"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/vivianazapata/" target="__blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="../images/designerpa.png" alt="..." />
                        <h4>Pablo Alvarez</h4>
                        <p class="text-muted">Diseñador Gráfico / Textil</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.behance.net/alvarezgrad844" target="__blank"><i class="fab fa-behance"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/juan-pablo-alvarez-torres-8096a0205/" target="__blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="../images/designerst.png" alt="..." />
                        <h4>Stiven Morant</h4>
                        <p class="text-muted">UI-UX / Diseño Gráfico</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/quetrazos/" target="__blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.behance.net/stimorant" target="__blank"><i class="fab fa-behance"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/estiven-morant-jim%C3%A9nez-9b91a8209/" target="__blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Todos nuestros diseñadores tienen algo en común, son apasionados por el diseño, son excelentes en cada uno de sus enfoques, siempre te van a entregar un trabajo increible y nunca paran de perfeccionar sus habilidades de diseño.</p></div>
            </div>
        </div>
    </section> 
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Stiven 2022</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/quetrazos/"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.behance.net/stimorant"><i class="fab fa-behance"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/estiven-morant-jim%C3%A9nez-9b91a8209/"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="../js/default.js"></script>
    </body>
    
    </html>
